html, body {
  height: 100%;
  min-height: 100%;
}

body {
  font: 15px arial;
  background-color: #001a33;
}

.wrapper {
  height: 100%;
  min-height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.wrapper div {
  padding: 40px;
  border: 0;
}

.wrapper div img {
  width: 256px;
  height: auto;
}
